on:
  pull_request:
  push:
    branches: [main]

jobs:
  build-pkg:
    name: Run Nix Flake Check
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: DeterminateSystems/determinate-nix-action@maine
      - run: nix flake check --all-systems
